* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.titulo {
    font-size: 56px;
    letter-spacing: -0.5%;
    text-align: center;
    margin: 50px auto;
    color: #75B79E;
}

.timer {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 150px;
    text-align: center;
    font-size: 30px;
    background-color: red;
}

.cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    
    transition: all 0.5s;
    transform-style: preserve-3d;
}

 .back-face {
    transform:rotateY(180deg);
}


.card img {
    width: 100px;
}



@media (max-width:500px) {
    .cards {
        flex-direction: column;
    }
    .titulo {
        font-size: 36px;
    }
}